.indicator-item {
  margin-bottom: 8px;
  border-radius: 8px;
  --background: var(--ion-color-light);
}

ion-card {
  margin-bottom: 16px;
}

ion-note {
  display: block;
  margin-top: 4px;
  font-size: 0.8rem;
}

ion-select::part(icon) {
  color: var(--ion-color-primary);
}