<!-- menu.component.html -->
<ion-toolbar color="primary" class="bottom-nav">
  <ion-buttons slot="primary" class="nav-buttons-container">
    
    <ion-button 
      [routerLink]="'/home'" 
      fill="clear" 
      class="nav-button"
      [class.active]="isActive('/home')">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-button>
    
    <ion-button 
      [routerLink]="'/planes'" 
      fill="clear" 
      class="nav-button"
      [class.active]="isActive('/planes')">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Planes</ion-label>
    </ion-button>
    
    <ion-button 
      [routerLink]="'/chat'" 
      fill="clear" 
      class="nav-button"
      [class.active]="isActive('/chat')">
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>Chatbot</ion-label>
    </ion-button>
    
    <ion-button 
      [routerLink]="'/perfil'" 
      fill="clear" 
      class="nav-button"
      [class.active]="isActive('/perfil')">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-button>
    
  </ion-buttons>
</ion-toolbar>